
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .container{
        width: 100%;

    }
.container .row{
    width: 80%;
    margin: auto;

}
.container .row .header{
    width: 60%;
    text-align: center;
    margin: auto;

}
.container .row .header h1{
    padding-top: 20px;
    font-size: 45px;
    color: #e19c30;

}
.container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0,0,0.1);
    background-color: #fff;



}
.content .card img{
    width: 100%;
    height: auto;

}
.content .card  h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;

}
.content .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}
 @media screen and (max-width:768px){
    .content{
        flex-direction: column;
        
    }
 }
 nav{
    position: fixed;
    width: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15 );
    z-index: 999;

}

nav img {

 width: 160px;
 cursor: pointer;
}

nav .navigation  ul {

    display: flex;
    justify-content: flex-end;
    align-items: center;


}


nav .navigation  ul li {
list-style: none;
margin-left: 30px;

}


nav .navigation  ul li a{

    text-decoration: none;
    color: rgba(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;



}

nav .navigation  ul li a:hover{

    color: #fdc93b;
}
.image-slider{
    width: 70%;
    height: 70vh;

    
    background-image: url(https://th.bing.com/th?id=OIP.wwxK07x0Umfnh0l-nrjxjgHaDg&w=350&h=166&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin-left: 175px;
    margin-bottom: 50px;
    animation: change-image 20s linear  infinite ;

    
}
@keyframes change-image {
    0%{
        background-image: url(https://th.bing.com/th?id=OIP.wwxK07x0Umfnh0l-nrjxjgHaDg&w=350&h=166&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
        
    }
    25%{
        background-image: url(https://lh3.googleusercontent.com/p/AF1QipOH2ffz8wjftvOsr0mZP1qvpdwAxdmDu3zBpxOC=s680-w680-h510);
        
    }
    50%{
        background-image: url(https://lh3.googleusercontent.com/p/AF1QipNOY0WTD-8DuAScXmxQd-oiQr0HFoHYDybDBI7w=s680-w680-h510);
        
    }
    75%{
        background-image: url(https://lh3.googleusercontent.com/p/AF1QipPXHiMPTfq1ZbWtPMsNzRH5m-UIDpqIFkDpOpYl=s680-w680-h510);
        
    }
    
}
    
